.chest{
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 12%;
    position: relative;
    z-index : 2;
}

@font-face {
    font-family: "pirates";
    src: url("Pieces_of_Eight.ttf") format("truetype");
}

@font-face {
    font-family: "blood";
    src: url("BLOODY.TTF") format("truetype");
}

@font-face {
    font-family: "digit";
    src: url("digital-7.ttf") format("truetype");
}

h1{
    font-size: 5vw;
    width: 90%;
    top : 0;
    left: 5%;
    text-align: center;
    z-index : 2;
    font-family: "pirates";
    position: absolute;
    color :rgb(255, 255, 0);
    -webkit-text-stroke: 0.01px rgb(82, 46, 0);
}

#base{
    width: 100%;
}

#couvercle{
    width: 91.1%;
}

.code{
    width: 20%;
    text-align: center;
    border-radius: 5px;
    font-size: 3vw;
}

#cadenas{
    background-color: rgb(85, 34, 0);
    width: 30%;
    height: 100px;
    margin: auto;
    border-radius: 10px;
    flex-direction: row;
    display: flex;
    padding: 2%;
    position: absolute;
    top: 15%;
    left: 33%;
}

input[type="submit"]{
    width: 15%;
    font-size: 2vw;
    position: relative;
    margin: 2%;
    border-radius: 10px;
    z-index : 2;
    background-color: #008a9c;
    color : #fab511;
}

input[type="submit"]:disabled{
    color:black;
    background-color: gray;
}

input[type="submit"]:enabled:hover{
    cursor: pointer;
    background-color: #92378c;
    font-weight: bold;
}

#b_c{
    width: 100%;
    text-align: center;
}

#faux{
    opacity: 50%;
    width: 100%;
    background-color: red;
    z-index: 3;
    height: 961px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#bon{
    opacity: 50%;
    width: 100%;
    background-color: green;
    z-index: 3;
    height: 961px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#raté, #transi{
    opacity: 0;
    width: 100%;
    background-color: black;
    z-index: 4;
    height: 961px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#pirate{
    height: 62%;
    bottom: 10%;
    display: block;
    margin: auto;
}

h2{
    color: red;
    font-size: 6vw;
    text-align: center;
    font-family: "blood";
}

#fond{
    width: 100%;
    height: 961px;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

#timer{
    z-index: 3;
    position: absolute;
    color: red;
    font-size: 6vw;
    display: none;
    top: 50%;
    left: 44.9%;
    flex-direction: row;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    font-family: "digit";
    width: 10%;
    justify-content: center;
}

video{
    z-index: 4;
    position: absolute;
    top:0;
    width: 100%;
    left:0;
}

#succés{
    opacity: 1;
    width: 100%;
    background: linear-gradient(#008a9c, #92378c);
    z-index: 4;
    height: 961px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#bravo{
    color: #fab511;
    -webkit-text-stroke: 0px rgb(82, 46, 0);
    margin-top: 20%;
}

